.hero {
    background-image: url('../../../../assets/home/chef-service.jpg');
    width: auto;
    height: 500px;
    padding: 20px;
    opacity: 70;

}



.div1 {
    width: 750px;
    height: 250px;
    font-weight: bold;
    opacity: 70;

}